<a href="https://colab.research.google.com/github/jideilori/hamoye-ds/blob/master/stage_b_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [33]:
df_2 = df.drop(['date'],axis= 1)
df_2.head()

   Appliances  lights     T1  ...  Tdewpoint        rv1        rv2
0          60      30  19.89  ...        5.3  13.275433  13.275433
1          60      30  19.89  ...        5.2  18.606195  18.606195
2          50      30  19.89  ...        5.1  28.642668  28.642668
3          50      40  19.89  ...        5.0  45.410389  45.410389
4          60      40  19.89  ...        4.9  10.084097  10.084097

[5 rows x 28 columns]

In [34]:
target = df_2['T6'].values.reshape(-1,1)

In [35]:
x = df_2['T2'].values.reshape(-1,1)

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

x_train, x_test, y_train, y_test = train_test_split(x, target, test_size=0.3, random_state=2)

linear_model = LinearRegression()

In [37]:
#fit the model to the training dataset
linear_model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [38]:
#obtain predictions
predicted_values = linear_model.predict(x_test)

In [39]:

from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
print(r2_score)
round(r2_score, 2)

0.6506568993148765

0.65

In [40]:
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
print(mae)
round(mae, 2)

2.8450100179551137

2.85

In [41]:
#Residual sum of squares
rss = np.sum(np.square(y_test - predicted_values))
print(rss)
round(rss, 2)

78778.21633125874

78778.22

In [42]:
model = linear_model
def get_weights_df(model, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

In [43]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha = 0.4)
ridge_reg.fit(x_train,y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)